spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  ai:
    vectorstore:
      jdbc:
        initialize-schema: false

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:}
      database: 0

  session:
    store-type: redis
    timeout: 30m

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

logging:
  level:
    root: INFO
    com.back: INFO                # 서비스 로그는 정보 레벨 이상만
    org.springframework.web: WARN # 웹 관련 경고/에러만
    org.springframework.security: WARN # 로그인 실패/보안 경고 위주
    org.hibernate.SQL: INFO       # SQL 전체 로그는 끄고, 필요시 운영 중에만 열기
  pattern:
    console: "[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n"

#나중에 개발 환경 레디스 설정 추가